.photo-our-game-background {
    width: 1400px;
    height: 1035px;
    border-radius: 39px;
    mix-blend-mode: darken;
    box-shadow: 0px 0px 50px 0px #000;
    margin-left: auto;
    margin-right: auto;
}

#game-1 {
    width: 350px;
    height: 350px;
    box-shadow: 0px 0px 50px 0px #000;
    border-radius: 20px;
    border: 3px solid transparent;
    margin-left: 6%;
    margin-top: 5.4%;
    background: url(../img/Game1.png);
    transition: 0.5s;
}

#game-1:hover { 
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    border-color: #2D42FF;
}

#game-2 {
    width: 350px;
    height: 350px;
    flex-shrink: 0;
    box-shadow: 0px 0px 50px 0px #000;
    border-radius: 20px;
    border: 3px solid transparent;
    margin-left: 6%;
    margin-top: 5.4%;
    background: url(../img/Game1.png);
    transition: 0.5s;
}

#game-2:hover { 
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    border-color: #2D42FF;
}

#game-3 {
    width: 350px;
    height: 350px;
    flex-shrink: 0;
    box-shadow: 0px 0px 50px 0px #000;
    border-radius: 20px;
    border: 3px solid transparent;
    margin-left: 6%;
    margin-top: 5.4%;
    background: url(../img/Game1.png);
    transition: 0.5s;
}

#game-3:hover { 
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    border-color: #2D42FF;
}

/* Модельная коробка start */
.popup {
    display: none;
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;       
    background: rgba(0, 0, 0, 0.80);
    overflow: auto;
}

/* Наполнение модельный коробки */
.Game-info-bay{
    font-family: 'Bebas Neue';
    font-size: 20px;
    padding-left: 20px;
    z-index: 10;
}

.Description-1-name-pos {
    font-family: 'Bebas Neue';
    font-size: 30px;
    padding: 20px;
    color: black;
}

.Description {
    font-family: 'Bebas Neue';
    font-size: 30px;
    padding-left: 2%;
}

/* .Slider-Video-present-game{
    
} */

/* Конец наполнения модельной коробки */
.info-game-buy {
    width: 800px;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    background-color: #ffffff;
}

#close {
    background-image: url("close.svg");
    margin-left: 39%;
    position: fixed;
    width: 50px;
    height: 50px;
    border: none;
    background-size: cover;
    background-color: transparent;
}

#close:hover {
    opacity: 0.8;
}
  
#close:active {
    transform: scale(0.95);
}

/* Модельная коробка end */

